*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header{
    display: grid;
    font-size: large;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
}
#logo{
    padding: 25px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav button{
    font-family: fantasy;
    font-size: x-large;
    font:bolder;
    border: none;
    background:transparent;
}
#head{
    text-align: center;
    color:white;
    padding: 15vh;
    font-family: cursive;
}
#content{
    height: 100vh;
}
#slogan1{
    margin-left:20%;
    margin-top:100px;
    padding: 0 10px;
    background-color: aqua;
    width: fit-content;
    height: fit-content;
    text-align:center;
    border: solid black 1px;
    border-radius: 10px;
}
#slogan2{
    margin-left:10%;
    margin-top:100px;
    padding: 0 10px;
    background-color:aquamarine;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
}
#menulist{
    display: flex;
    justify-content: center;
    gap:250px;
    color:blue;
}
#menulist h3{
    font-size: xx-large;
    color: rgb(199 195 21);
    margin-bottom: 20px;
}
.item ul li{
    color:rgb(236, 13, 13);
    padding: 10px;
    font-size: x-large;
    margin-left: 20px;
    list-style-type: none;
}
#aboutus{
    color:black ;
    border: 2px solid black;
    padding: 40px;
    background-color: white  ;
    
    border-radius: 10px;
    font-size: x-large;
    max-width: 50%;
}